[core]
	editor = vim
[user]
	name = Conor Finn
	email = conor.finn@stfc.ac.uk
[credential]
	helper = cache
[alias]
	chf = ! git log --name-only --format= origin/master.. | sort | uniq
	ch = diff --stat master...
	camne = commit --amend --no-edit
	stf = ! git fetch -q && git status
	st = status
	l = log
	lol = log --oneline
	lcb = log origin/master..
	lolcb = log origin/master.. --oneline
	unadd = reset HEAD --
	adda = add -A
        addi = add -i
	test-pr = "! f() { git fetch origin +pull/$1/merge:pr/$1-merged && git checkout pr/$1-merged; }; f"
	del-pr = ! git branch | grep pr/ | xargs git branch -D
	pushup = push -u origin HEAD
	pushf = push --force-with-lease
	uncommit = reset HEAD^
	br = branch
[merge]
	tool = meld
[mergetool]
	keepBackup = false
